extends layout

block content
    div#header
      h1#titulo Essa é a calculadora de C.R

    - let i = 1;
    - let creditos = [];

    div.container-fluid.conteudo
      div#centro
        form(id='formNotas' class='form-inline form' action="/resultado" method="get")
          each d in disciplinas          
            if d.valido != false
              if d.nome_disciplina.length < 28
                  div(class='pieces form-group')
                      label(class='labels', for=''+d.nome_disciplina) #{d.nome_disciplina}
                      input(type='number', class='inputs form-control' placeholder='Insira sua nota', name=''+ d.nome_disciplina id=''+ i)
              else
                div(class='pieces form-group')
                      label(class='labels labelsbig', for=''+d.nome_disciplina) #{d.nome_disciplina}
                      input(type='number', class='inputs form-control' placeholder='Insira sua nota', name=''+ d.nome_disciplina id=''+ i)
              - creditos.push(d.creditos);
              - i = i+1;
          <br>
          button(id='buttonCalcula', class='btn') Calcular!

          
    script.
      let button = document.querySelector("button#buttonCalcula");
      let nOfInputs = document.querySelectorAll(".inputs").length;
      let notas = 0;
      let credito = !{JSON.stringify(creditos)};
      credito = credito.map(Number);
      let sumCredito = 0;
      let cr = 0;
      
      function calculoCR(){
        for (let j = 0; j < nOfInputs; j++){
          let j1 = j+1;
          let value = document.getElementById(""+j1).value;
          let nota = value * credito[j];
          notas += nota;
        }

        for(let k = 0; k < credito.length; k++){
          sumCredito+= credito[k];
        }


        cr = notas/sumCredito;
        cr = cr.toFixed(1);

        return cr;
      }

      button.onclick = () => {
          let crFinal = calculoCR();
          
      } 

          
