html
    body
        h1 Hello World!
        p Nothing to see here.

        <form id="curso" action="http://localhost:1337/curso" method="POST">
            <select name="cursos" id="curso">
                <option value="cs">Ciclo Básico</option>
                <option value="j">Jornalismo</option>
                <option value="pp">Publicidade e Propaganda</option>
                <option value="rtv">Rádio e TV</option>
                <option value="pe">Produção Editorial</option>
            </select>
            <button type="submit">VAI</button>
        </form>
