extends subLayout

block content

  - let i = 1;

    div.col-12.col-md-8.col-lg-5.col-xl-4.center-box.center-box--vertical.center-box--calculadora
      div.center-box__rotated-background
      form#formCalculadora.form.center-box__form(class='form' action='/resultado' method='POST')
        fieldset.center-box__fieldset
          each d in disciplinas          
            if d.valido != false
              div.form-group
                label.calc-label(for=''+d.nome_disciplina) #{d.nome_disciplina}
                input.inputs.form-control(type='number', step='0.1', min='0', max='10', placeholder='Nota', name=''+ i id=''+ i)             
              - i = i+1;
        <br>
        button#buttonCalcula.btn.center-box__submit-btn Calcular!
