extends subLayout

block content
  div.col-12.col-md-5.col-xl-4.center-box.center-box--horizontal.center-box--index
    div.center-box__rotated-background
    form#formIndex.form.center-box__form(action="/calculadora", method='GET')
      fieldset
        div.form-group
          label#labelCursos(for='cursos') Curso: <br>
            select#curso.select(name='curso')
              option(value='na' selected='' hidden='') Escolha seu curso
              option(value='cs') Ciclo B&aacute;sico
              option(value='j') Jornalismo
              option(value='pp') Publicidade e Propaganda
              option(value='rtv') R&aacute;dio e TV
              option(value='pe') Produ&ccedil;&atilde;o Editorial
              option(value='dt') Direção Teatral
        div.form-group
          label#labelPeriodos(for='periodos') Per&iacute;odo: <br>
            select#periodo.select(name='periodo')
              option(value='0' selected='' hidden='') Escolha seu per&iacute;odo
              option(value='1') 1&ordm; Per&iacute;odo
              option(value='2') 2&ordm; Per&iacute;odo
              option(value='3') 3&ordm; Per&iacute;odo
              option(value='4') 4&ordm; Per&iacute;odo
              option(value='5') 5&ordm; Per&iacute;odo
              option(value='6') 6&ordm; Per&iacute;odo
              option(value='7') 7&ordm; Per&iacute;odo
              option(value='8') 8&ordm; Per&iacute;odo
              option(value='nda' disabled='') Quero escolher minhas pr&oacute;prias mat&eacute;rias
      button.btn.center-box__submit-btn(type='submit') OK



  script.
    $('form').submit(function(){

      let curso = $("#curso option:selected").val();
      let periodo = $("#periodo option:selected").val();

      let url = "/calculadora?curso="+curso+"&periodo="+periodo;

      $(this).attr('action', url);
      $(this).submit();

    });




