//-TODO: Conferir acessibilidade e SEO de todas as páginas

doctype html
html(lang='pt')
  head 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-161834654-1")

    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-161834654-1');
        
    title #{titulo} | CalculaECO

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(name="title" content="CalculaECO | Calculadora de C.R")
    meta(name="description" content="O CalculaECO é a calculadora de C.R para os cursos da Escola de Comunicação da UFRJ!")
    meta(name="url" content="calcula-eco.herokuapp.com")
    meta(name="keywords" content="CR, calcular cr, eco, ufrj")
    <!-- Open Graph / Facebook -->
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://calcula-eco.herokuapp.com/")
    meta(property="og:title" content="CalculaECO | Calculadora de C.R")
    meta(property="og:description" content="O CalculaECO é a calculadora de C.R para os cursos da Escola de Comunicação da UFRJ!")
    meta(property="og:image" content="//calcula-eco.herokuapp.com/images/og_image.png")
    <!-- Twitter -->
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="http://calcula-eco.herokuapp.com/")
    meta(property="twitter:title" content="CalculaECO | Calculadora de C.R")
    meta(property="twitter:description" content="O CalculaECO é a calculadora de C.R para os cursos da Escola de Comunicação da UFRJ!")
    meta(property="twitter:image" content="http://calcula-eco.herokuapp.com/images/twitter_image.png")

    link(rel="icon" href="images/icon_laranja.png")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")

  body
    block header
      div#titulo
        h1#title CalculaECO
    block content
    block rodape
      div#footer(style="width: 100%; margin-bottom:0px")
        a(href="http://www.github.com/liaporto" target='blank')
          img( id="github" src="/images/github.png" alt="Ir para o perfil do GitHub de Lia Porto" onmouseover="hover(this);" onmouseout="unhover(this);")
        a(href="mailto:liabarcellos28@gmail.com?subject=CalculaECO")
          img( id="mail" src="/images/mail.png" alt="Abrir envio de e-mail para liabarcellos28@gmail.com" onmouseover="hover(this);"  onmouseout="unhover(this);")
        a(href="http://www.twitter.com/zaribiscuit" target='blank')
          img( id="twitter" src="/images/twitter.png" alt="Ir para o perfil do Twitter de arroba zari biscuit" onmouseover="hover(this);" onmouseout="unhover(this);")
        span#footerTexto @moon.koala_
      script.
        if($(location).attr('pathname') == "/calculadora"){
          if($(document).width() < 768){
            $('body')
              .css('background-image', 'none')
              .css('background-color', '#ff701a')
              .css('height', '150%')
              }
        }
        if($(document).width() >= 980){
          $('.placeholder').css('display', 'initial');
          if($(document).width() >= 1300){
          $('.instrucoes').css('display', 'initial');
          }
        }

        function hover(element) {
          element.setAttribute('src', '/images/'+element.id+'_laranja.png');
        }
        function unhover(element) {
          element.setAttribute('src', '/images/'+element.id+'.png');
        }





script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")  
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')