extends layout

block content
    div.container-fluid.conteudo.row#conteudoResult
      div.placeholder#placeholderResult.col-lg-4.col-md-6
      div#centroResult.resultado.col-lg-4.col-md-6
        - let cr = "<span id='nota'>"+crFinal+"</span>";
        div#result
          h3 O seu C.R é !{cr} !
          <br/>
          a(href="/") Tentar novamente
      div.instrucoes#instrucoesResult.col-lg-4.col-md-6
            h3 Essa é a calculadora de C.R da ECO.
            p#paragrafo.
                A calculadora é muito simples: você seleciona seu curso e seu período e clica OK.<br>
                Aí coloca as notas que você recebeu e pronto! C.R calculado!
          