extends layout

block content
    div#header
      //- h1#titulo #{titulo}

    div.container-fluid.conteudo.row#conteudoResult
      div#placeholderResult
      div#centroResult.resultado.col-md-4
        - let cr = "<span id='nota'>"+crFinal+"</span>";
        div#result
          h3 O seu C.R é !{cr} !
          <br/>
          a(href="/") Tentar novamente
      div#instrucoesResult
            h1 CalculaECO
            h3 Essa é a calculadora de C.R da ECO.
            p#paragrafo.
                A calculadora é muito simples: você seleciona seu curso e seu período e clica OK.<br>
                Aí coloca as notas que você recebeu e pronto! C.R calculado!
          