extends subLayout

block content
  div.col-md-5.col-xl-4.center-box.center-box--horizontal.center-box--resultado
    div.center-box__rotated-background
    - let cr = "<span id='nota'>"+crFinal+"</span>";
    div#resultado.center-box__resultado
      h3 O seu C.R é !{cr}!
      <br/>
      a(href="/") Tentar novamente
          