extends layout

block subLayout
  main
    div.row
      div.placeholder.d-none.d-lg-block.col-lg-4
      block content
      div.instrucoes.d-none.d-lg-block.col-lg-4
        h4 Essa é a calculadora de CR da ECO
        p.
          A calculadora de CR é muito simples: você seleciona seu curso e seu período e clica OK.<br />
          Aí coloca as notas que você recebeu em cada matéria e pronto!<br />
          CR calculado!