extends layout

block subLayout
  main
    div.row
      div.placeholder.d-none.d-md-block.col-md-3.col-xl-4
      block content
      div.instrucoes.d-none.d-md-block.col-md-3.col-xl-4
        h4 Essa é a calculadora de C.R da ECO
        p#paragrafo.
          A calculadora é muito simples: você seleciona seu curso e seu período e clica OK.<br>
          Aí coloca as notas que você recebeu e pronto! C.R calculado!