@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:500,600,700&display=swap");
body {
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 600;
}

/*iPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #centroResult, #centroCalc, #centroIndex {
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
  }

  #centroResult, #centroCalc, #centroIndex {
    margin-top: 10%;
    display: flex;
    width: 100vw;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0.5em 0.9em #cc4e00;
  }

  .placeholder,
.instrucoes {
    display: none;
  }

  .btn-custom {
    height: 40px;
    max-width: 200%;
    font-size: 14pt !important;
    font-weight: 700 !important;
    border: 0px !important;
    border-radius: 0px !important;
    background-color: #fff;
  }
  .btn-custom:hover {
    background-color: #ff701a !important;
    color: #fff !important;
  }

  html {
    height: 100vh;
  }

  body {
    background-image: url("/images/Rodape_as_bg_water.png");
    background-repeat: no-repeat;
    background-size: auto 98%;
    height: 100%;
    max-height: 200%;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }

  .conteudo {
    width: 100vw;
    justify-items: center;
    margin-top: 5vh;
  }

  #titulo {
    width: 100vw;
    height: 10vh;
    padding-top: 2%;
    background-color: #ff701a;
    box-shadow: 0 0.5em 0.9em #cc4e00;
    text-align: center;
    color: #fff;
  }
  #titulo h1 {
    margin: 0px;
    font-weight: 600;
  }

  #footer {
    background-color: #fff;
    box-shadow: 0 0 0.3em #cc4e00;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-top: 1.5%;
    margin-bottom: -35px;
    height: 35px;
  }
  #footer #github,
#footer #twitter,
#footer #mail {
    height: 85%;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
  }
  #footer #footerTexto {
    float: right;
    margin-right: 10%;
  }

  #centroIndex {
    height: 50vh;
    margin-top: 5%;
  }
  #centroIndex .groupIndex {
    line-height: initial;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 16%;
  }
  #centroIndex .labelsIndex {
    display: none;
  }
  #centroIndex .select-custom {
    height: 7vh;
    width: 70vw;
    font-size: 12pt;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  #centroIndex .btn-index {
    width: 100vw;
  }

  #centroCalc {
    margin-top: -2%;
    text-align: center;
    height: auto;
  }
  #centroCalc #formNotas {
    margin-top: 10%;
    text-align: center;
  }
  #centroCalc .pieces {
    margin-bottom: 10%;
    width: 70%;
    display: inline-block;
    text-align: center;
  }
  #centroCalc .labelsCalc {
    display: block;
    font-size: 12pt;
  }
  #centroCalc .labelsCalcBig {
    display: inline-block;
    width: 95%;
    font-size: 12pt;
  }
  #centroCalc .inputs {
    height: 7vh;
    font-size: 12pt;
  }
  #centroCalc .btn-calc {
    width: 100vw;
    margin-top: -3%;
    margin-bottom: 10%;
  }

  #centroResult {
    height: 40vh;
    margin-top: 5%;
  }
  #centroResult #result {
    text-align: center;
  }
  #centroResult #nota {
    font-weight: bold;
    color: #ff701a;
  }
}
@media only screen and (max-width: 600px) {
  #centroResult, #centroCalc, #centroIndex {
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
  }

  #centroResult, #centroCalc, #centroIndex {
    margin-top: 10%;
    display: flex;
    width: 100vw;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0.5em 0.9em #cc4e00;
  }

  .placeholder,
.instrucoes {
    display: none;
  }

  .btn-custom {
    height: 40px;
    max-width: 200%;
    font-size: 14pt !important;
    font-weight: 700 !important;
    border: 0px !important;
    border-radius: 0px !important;
    background-color: #fff;
  }
  .btn-custom:hover {
    background-color: #ff701a !important;
    color: #fff !important;
  }

  html {
    height: 100vh;
  }

  body {
    background-image: url("/images/Rodape_as_bg_water.png");
    background-repeat: no-repeat;
    background-size: auto 98%;
    height: 100%;
    max-height: 200%;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }

  .conteudo {
    width: 100vw;
    justify-items: center;
    margin-top: 5vh;
  }

  #titulo {
    width: 100vw;
    height: 10vh;
    padding-top: 2%;
    background-color: #ff701a;
    box-shadow: 0 0.5em 0.9em #cc4e00;
    text-align: center;
    color: #fff;
  }
  #titulo h1 {
    margin: 0px;
    font-weight: 600;
  }

  #footer {
    background-color: #fff;
    box-shadow: 0 0 0.3em #cc4e00;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-top: 1.5%;
    margin-bottom: -35px;
    height: 35px;
  }
  #footer #github,
#footer #twitter,
#footer #mail {
    height: 85%;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
  }
  #footer #footerTexto {
    float: right;
    margin-right: 10%;
  }

  #centroIndex {
    height: 50vh;
    margin-top: 5%;
  }
  #centroIndex .groupIndex {
    line-height: initial;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 16%;
  }
  #centroIndex .labelsIndex {
    display: none;
  }
  #centroIndex .select-custom {
    height: 7vh;
    width: 70vw;
    font-size: 12pt;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  #centroIndex .btn-index {
    width: 100vw;
  }

  #centroCalc {
    margin-top: -2%;
    text-align: center;
    height: auto;
  }
  #centroCalc #formNotas {
    margin-top: 10%;
    text-align: center;
  }
  #centroCalc .pieces {
    margin-bottom: 10%;
    width: 70%;
    display: inline-block;
    text-align: center;
  }
  #centroCalc .labelsCalc {
    display: block;
    font-size: 12pt;
  }
  #centroCalc .labelsCalcBig {
    display: inline-block;
    width: 95%;
    font-size: 12pt;
  }
  #centroCalc .inputs {
    height: 7vh;
    font-size: 12pt;
  }
  #centroCalc .btn-calc {
    width: 100vw;
    margin-top: -3%;
    margin-bottom: 10%;
  }

  #centroResult {
    height: 40vh;
    margin-top: 5%;
  }
  #centroResult #result {
    text-align: center;
  }
  #centroResult #nota {
    font-weight: bold;
    color: #ff701a;
  }
}
@media only screen and (min-width: 980px) {
  /* Shutter Out Horizontal */
  #centroCalc, #centroResult, #centroIndex {
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
  }

  #centroResult, #centroIndex {
    display: flex;
    margin: 0 auto;
    background-image: url("/images/UI_Pag_1-3_border.png");
    background-color: transparent;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  #centroCalc {
    display: flex;
    margin: 0 auto;
    background-image: url("/images/UI_Pag_2_border.png");
    background-color: transparent;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  #conteudoResult #instrucoesResult, #conteudoCalc #instrucoesCalc, #conteudoIndex #instrucoesIndex {
    font-size: 13pt;
    text-align: center;
    float: right;
  }
  #conteudoResult #instrucoesResult h1, #conteudoCalc #instrucoesCalc h1, #conteudoIndex #instrucoesIndex h1 {
    text-decoration-line: underline;
    text-align: center;
    color: #fff;
  }
  #conteudoResult #instrucoesResult h3, #conteudoCalc #instrucoesCalc h3, #conteudoIndex #instrucoesIndex h3 {
    text-align: center;
    color: #fff;
  }
  #conteudoResult #instrucoesResult p, #conteudoCalc #instrucoesCalc p, #conteudoIndex #instrucoesIndex p {
    color: black;
  }

  .btn-custom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #fff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 3.3333333333vw;
    width: 130%;
    max-width: 200%;
    font-size: 14pt !important;
    font-weight: 700 !important;
    border: 0px !important;
    border-radius: 0px !important;
  }
  .btn-custom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff701a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: #fff;
  }
  .btn-custom:hover:before, .btn-custom:focus:before, .btn-custom:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  html {
    min-height: 100%;
  }

  body {
    background-image: url("/images/Rodape_as_bg_water.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
  }

  .conteudo {
    width: 100vw;
    justify-items: center;
    margin-top: 5%;
  }

  #titulo {
    height: 10vh;
    padding: 1%;
  }

  #footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    height: 30px;
    padding-top: 0px;
    box-shadow: none;
  }
  #footer #github,
#footer #twitter,
#footer #mail {
    height: 90%;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
  }
  #footer #footerTexto {
    margin-left: 38%;
  }

  #conteudoIndex #placeholderIndex {
    width: 25vw;
  }
  #conteudoIndex #instrucoesIndex {
    width: 20vw;
    padding-top: 20px;
    margin: 0px;
  }

  #centroIndex {
    width: 50vw;
    height: 500px;
    margin-top: -8%;
  }
  #centroIndex #formIndex {
    padding: 0px;
    margin-top: -3%;
  }
  #centroIndex .labelsIndex {
    display: initial;
    font-size: 1.7857142857vw;
  }
  #centroIndex .groupIndex {
    line-height: 50px;
    margin-bottom: 2px;
    text-align: center;
    width: auto;
    height: auto;
  }
  #centroIndex .select-custom {
    height: 40px;
    width: auto;
    font-size: 120%;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #fff;
  }
  #centroIndex .btn-index {
    width: 45vw;
    margin-top: 0px;
    margin-left: -1.5%;
  }

  #conteudoCalc {
    padding: 0px;
    margin-top: 0px;
  }
  #conteudoCalc #placeholderCalc {
    width: 30vw;
  }
  #conteudoCalc #instrucoesCalc {
    width: 25vw;
    padding: 20px;
    display: none;
  }

  #centroCalc {
    width: 45vw;
    height: 80vh;
  }
  #centroCalc #formNotas {
    padding-top: 0px;
    margin-top: 0px;
  }
  #centroCalc .row {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 95%;
  }
  #centroCalc .inputGroup {
    display: inline-block;
    text-align: center;
  }
  #centroCalc .pieces {
    width: 15vw;
  }
  #centroCalc .pieces .labelsCalc {
    display: block;
    font-size: 12pt;
  }
  #centroCalc .pieces .labelsCalcBig {
    display: inline-block;
    width: 95%;
    font-size: 10pt;
  }
  #centroCalc .pieces .inputs {
    margin-bottom: 0px;
  }
  #centroCalc .btn-calc {
    width: 39.7vw;
    margin-left: 0.2%;
    margin-top: 3%;
  }

  #conteudoResult {
    margin-top: 60px;
  }
  #conteudoResult #placeholderResult {
    width: 30vw;
  }
  #conteudoResult #instrucoesResult {
    width: 30vw;
    padding: 60px;
    padding-top: 20px;
    margin-left: 30px;
    display: none;
  }

  #centroResult {
    width: 40vw;
    height: 340px;
    margin-top: -4%;
  }
  #centroResult #result {
    text-align: center;
  }
  #centroResult #nota {
    font-weight: bold;
    color: #ff701a;
  }
}
@media only screen and (min-width: 1300px) {
  /* Shutter Out Horizontal */
  #centroCalc, #centroResult, #centroIndex {
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
  }

  #centroResult, #centroIndex {
    display: flex;
    margin: 0 auto;
    background-image: url("/images/UI_Pag_1-3_border.png");
    background-color: transparent;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  #centroCalc {
    display: flex;
    margin: 0 auto;
    background-image: url("/images/UI_Pag_2_border.png");
    background-color: transparent;
    box-shadow: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  #conteudoResult #instrucoesResult, #conteudoCalc #instrucoesCalc, #conteudoIndex #instrucoesIndex {
    font-size: 13pt;
    text-align: center;
    float: right;
  }
  #conteudoResult #instrucoesResult h1, #conteudoCalc #instrucoesCalc h1, #conteudoIndex #instrucoesIndex h1 {
    text-decoration-line: underline;
    text-align: center;
    color: #fff;
  }
  #conteudoResult #instrucoesResult h3, #conteudoCalc #instrucoesCalc h3, #conteudoIndex #instrucoesIndex h3 {
    text-align: center;
    color: #fff;
  }
  #conteudoResult #instrucoesResult p, #conteudoCalc #instrucoesCalc p, #conteudoIndex #instrucoesIndex p {
    color: black;
  }

  .btn-custom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #fff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 2.6666666667vw;
    width: 130%;
    max-width: 200%;
    font-size: 14pt !important;
    font-weight: 700 !important;
    border: 0px !important;
    border-radius: 0px !important;
  }
  .btn-custom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff701a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: #fff;
  }
  .btn-custom:hover:before, .btn-custom:focus:before, .btn-custom:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  html {
    min-height: 100%;
  }

  body {
    background-image: url("/images/Rodape_as_bg_water.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
  }

  .conteudo {
    width: 100vw;
    justify-items: center;
    margin-top: 40px;
  }

  #titulo {
    height: 10vh;
    padding: 1%;
  }

  #footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    height: 30px;
    padding-top: 0px;
    box-shadow: none;
  }
  #footer #github,
#footer #twitter,
#footer #mail {
    height: 90%;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
  }
  #footer #footerTexto {
    margin-left: 38%;
  }

  #conteudoIndex #placeholderIndex {
    width: 30vw;
  }
  #conteudoIndex #instrucoesIndex {
    width: 25vw;
    padding-top: 20px;
    margin: 0px;
  }

  #centroIndex {
    width: 40vw;
    height: 500px;
    margin-top: -1%;
  }
  #centroIndex .labelsIndex {
    display: initial;
    font-size: 1.6vw;
  }
  #centroIndex .groupIndex {
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: auto;
    height: auto;
  }
  #centroIndex .select-custom {
    height: 40px;
    width: auto;
    font-size: 120%;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #fff;
  }
  #centroIndex .btn-index {
    width: 36vw;
    margin-top: 3%;
    margin-left: -1.5%;
  }

  #conteudoCalc {
    padding: 0px;
    margin-top: 1%;
  }
  #conteudoCalc #placeholderCalc {
    width: 32vw;
  }
  #conteudoCalc #instrucoesCalc {
    width: 25vw;
    padding: 20px;
  }

  #centroCalc {
    width: 36vw;
    height: 80vh;
  }
  #centroCalc #formNotas {
    padding: 20px;
    margin-top: 0px;
  }
  #centroCalc .row {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 95%;
  }
  #centroCalc .inputGroup {
    display: inline-block;
    text-align: center;
  }
  #centroCalc .pieces {
    width: 12vw;
  }
  #centroCalc .pieces .labelsCalc {
    display: block;
    font-size: 12pt;
  }
  #centroCalc .pieces .labelsCalcBig {
    display: inline-block;
    width: 95%;
    font-size: 10pt;
  }
  #centroCalc .pieces .inputs {
    margin-bottom: 0px;
  }
  #centroCalc .btn-calc {
    width: 31.7vw;
    margin-left: 0.2%;
    margin-top: 3%;
  }

  #conteudoResult {
    margin-top: 60px;
  }
  #conteudoResult #placeholderResult {
    width: 34vw;
  }
  #conteudoResult #instrucoesResult {
    width: 30vw;
    padding: 60px;
    padding-top: 20px;
    margin-left: 30px;
  }

  #centroResult {
    width: 30vw;
    height: 340px;
  }
  #centroResult #result {
    text-align: center;
  }
  #centroResult #nota {
    font-weight: bold;
    color: #ff701a;
  }
}

/*# sourceMappingURL=style.css.map */
