@-ms-viewport {
    width: device-width;
}

:root {
    --main-color: #FF701A;
}

html {
    min-height: 100%;
}

body {
    background-color: #FF701A;
    background-image: url('/images/Rodape\ as\ bg\ water.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.conteudo {
    justify-items: center;
    margin-top: 40px;
}

.form {
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
    padding: 0px;
}

#placeholder{
    width: 30vw;
}

#instrucoes{
    width: 30vw;
    padding: 20px;
    font-size: 13pt;
    color: white;
    text-align: center;
    float: right;
    
}

#footer{
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0 auto;
    height: 35px;
}

#github, #twitter, #mail{
    height: 29px;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
}

#footerTexto{   
    margin-left: 38%;
}

/* resultado */
.conteudoResult{

    margin-top: 60px;
}

#centroResult {
    width: 33vw;
    height: 340px;
}

#result{
    text-align: center;
}

#nota{
    font-weight: bold;
    color: var(--main-color);
}

#instrucoesResult{
    width: 32vw;
    padding: 60px;
    padding-top: 20px;
    font-size: 13pt;
    color: white;
    text-align: left;
    margin-left: 30px;
}

#placeholderResult{
    width: 32vw;
}


#centroIndex, #centroResult {
    background-image: url('/images/UI\ Pag\ 1-3\ border.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* index */

h1{
    text-decoration-line: underline;
    text-align: center;
}

h3{
    text-align: center;

}

#paragrafo{
    color: black;
}

#centroIndex{
    width: 39vw;
    height: 500px;
}

.labelsIndex {
    font-size: 20pt;
}

.groupIndex {
    line-height: 55px;
    text-align: center;
}

.select-custom {
    height: 40px;
    font-size: 120%;
    border-radius: 3px;
    margin-left: 10px;
    text-align-last: center;
}


.btn-custom {
    width: 540.5px;
    border: 0px !important;
    border-radius: 0px !important;
    margin-left: -8px;
    height: 40px;
    font-size: 16pt !important;
    background-color: white;
    font-kerning: auto;
    font-weight: 700 !important;
    
}

.btn-custom:hover{
    background-color: var(--main-color) !important;
    color:white !important;
}

/* cacluladora */

#conteudoCalc {
    margin-top: -10px;
}

#centroCalc, #centroCalc3C, #centroEscolha{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    
}

/* duas colunas */

#centroCalc, #centroEscolha {
    width: 39vw;
    height: 650px;
    background-image: url('/images/UI\ Pag\ 2\ border.png');
    padding: 30px;
    padding-top: 10px;
}


.labelsCalc {
    display: block;
    text-align: center;
    font-size: 12pt;
}

.labelsCalcBig {
    display: inline-block;
    width: 150px;
    font-size: inherit;
    font-size: 10pt;
    line-height: 15.5px;
}

.inputs {
    margin-bottom: 30px;
}

.pieces {
    width: 200px;
}

.row {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.inputGroup {
    display: inline-block;
    text-align: center;
}

@media (max-width: 768px) {
    .row {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        width: 300px;
        font-size: 120%;
    }
    .inputGroup {
        text-align: center;
    }
    .pieces {
        display: inline-block;
        text-align: center;
    }
}

.btn-calc {
    margin-top: -10px;
    width: 529px;
    margin-left: 2.5px;
}

/* três colunas */

#centroCalc3C{
    width: 850px;
    height: 700px;
    background-image: url('/images/UI\ Pag\ 2\ threeC.png');
}
