/* Screen sizes and breakpoints */
/* Colors */
/*Font settings*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:500,600,700&display=swap");
@font-face {
  font-family: "Aktiv Grotesk Regular";
  src: url("../fonts/aktiv-grotesk-condensed.woff2") format("woff2"), url("../fonts/aktiv-grotesk-condensed.woff") format("woff"), url("../fonts/aktiv-grotesk-condensed-webfont.woff") format("otf");
}
@font-face {
  font-family: "Aktiv Grotesk Bold Italic";
  src: url("../fonts/aktiv-grotesk-condensed-bold-italic.woff2") format("woff2"), url("../fonts/aktiv-grotesk-condensed-bold-italic.woff") format("woff"), url("../fonts/aktiv-grotesk-condensed-bold-italic.woff") format("otf");
}
html, body {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body, main {
  font-family: "Aktiv Grotesk Regular", "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  background: url("../images/Rodape_as_bg_water.png") no-repeat;
  background-size: auto 100%;
  background-position-y: bottom;
}

h1, h2, h3 {
  font-family: "Aktiv Grotesk Bold Italic", "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: italic;
  color: #fff !important;
}

header h1 {
  text-align: center;
}

main {
  margin-top: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #fff;
}
footer #github,
footer #twitter,
footer #mail {
  height: 90%;
  width: auto;
  float: left;
  padding-right: 9px;
  padding-left: 9px;
}
footer #footerTexto {
  margin-left: 38%;
}

/*iPad Pro*/
@media only screen and (min-width: 980px) {
  /* Shutter Out Horizontal */
  /* Screen sizes and breakpoints */
  /* Colors */
  header h1 {
    margin-top: 3vh;
  }

  .center-box,
.center-box__rotated-background {
    margin: 0 auto;
    border: 2.5px solid #000;
    border-radius: 20px;
    box-shadow: none;
  }

  .center-box {
    background-color: #fff;
    padding: 50px 60px !important;
  }

  .center-box__rotated-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(-8deg) translate(-60px, -55px);
  }

  .center-box--horizontal {
    height: 40vh;
  }

  .center-box--vertical {
    height: 80vh;
  }

  .center-box .index-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .form-group {
    margin-bottom: 2px;
    text-align: center;
    width: auto;
    height: auto;
  }
  .form-group label {
    display: initial;
    font-size: 2.2222222222vh;
  }
  .form-group select {
    height: 40px;
    width: auto;
    font-size: 0.8em;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #fff;
  }

  .btn-custom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #fff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 4vh;
    width: 125%;
    font-size: 14pt !important;
    font-weight: 700 !important;
    border: 0px !important;
    border-radius: 0px !important;
  }
  .btn-custom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff701a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: #fff;
  }
  .btn-custom:hover:before, .btn-custom:focus:before, .btn-custom:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .btn-custom:hover {
    color: #fff !important;
  }

  #conteudoResult {
    margin-top: 60px;
  }
  #conteudoResult #placeholderResult {
    width: 30vw;
  }
  #conteudoResult #instrucoesResult {
    width: 30vw;
    padding: 60px;
    padding-top: 20px;
    margin-left: 30px;
    display: none;
  }

  #centroResult {
    width: 40vw;
    height: 340px;
    margin-top: -4%;
  }
  #centroResult #result {
    text-align: center;
  }
  #centroResult #nota {
    font-weight: bold;
    color: #ff701a;
  }

  .instrucoes {
    margin: 0px;
    font-size: 13pt;
    text-align: center;
  }
  .instrucoes h2 {
    text-align: center;
    color: #fff;
  }
  .instrucoes p {
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
