@import "effects/shutter-out-horizontal";
@import "assets/_variables.scss";
@import "assets/_mixins.scss";

$text-font-size: 13pt;
$g-label-font-size: 30px;
$m-label-font-size: 12pt;
$s-label-font-size: 10pt;
$xs-label-font-size: 8pt;
$btn-font-size: 14pt;

$horizontal-box-height: 40vh;
$horizontal-box-width: 50vw;
$vertical-box-height: 80vh;
$vertical-box-width: 400px;

header h1 {
  margin-top: 3vh;
}

.center-box,
.center-box__rotated-background {
  margin: 0 auto;
  border: 2.5px solid #000;
  border-radius: 20px;
  box-shadow: none;
}

.center-box {
  background-color: #fff;
  padding: 50px 60px !important;
}

.center-box__rotated-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.7);
  transform: rotate(-8deg) translate(-60px, -55px);
}

.center-box--horizontal {
  height: $horizontal-box-height;
}

.center-box--vertical {
  height: $vertical-box-height;
}

.center-box .index-form{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-group {
  margin-bottom: 2px;
  text-align: center;
  width: auto;
  height: auto;

  label {
    display: initial;
    @include childSizeDivide($horizontal-box-height, 18, "font-size");
  }
  select {
    height: 40px;
    width: auto;
    font-size: 0.8em;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 3px;
    background-color: $second-color;
  }
}

.btn-custom {
  @include shutter-out-horizontal;
  @include childSizeDivide($horizontal-box-height, 10, "height");
  width: 125%;
  font-size: $btn-font-size !important;
  font-weight: 700 !important;
  border: 0px !important;
  border-radius: 0px !important;

  &:hover{
    color: #fff !important;
  }
}

#conteudoCalc {
}

#centroCalc {
  // .inputGroup {
  //   display: inline-block;
  //   text-align: center;
  // }

  // .pieces {
  //   @include childSizeDivide($vertical-box-width, 3, "width");

  //   .labelsCalc {
  //     display: block;
  //     font-size: $m-label-font-size;
  //   }

  //   .labelsCalcBig {
  //     display: inline-block;
  //     width: 100% - 5;
  //     font-size: $s-label-font-size;
  //   }

  //   .inputs {
  //     margin-bottom: 0px;
  //   }
  // }

  // .btn-calc {
  //   @include childSizeSubtract($vertical-box-width, 5.3, "width");
  //   margin-left: 0.2%;
  //   margin-top: 3%;
  // }
}

// #centroCalc3C {
//   width: fit-content;
//   padding: 30px 60px 60px 60px;
//   margin-left: calc(100vw / 4);

//   .btn-calc {
//     width: 106%;
//     margin-left: -4%;
//   }
// }

#conteudoResult {
  margin-top: 60px;

  #placeholderResult {
    width: 30vw;
  }
  #instrucoesResult {
    width: 30vw;
    padding: 60px;
    padding-top: 20px;
    margin-left: 30px;
    display: none;
  }
}

#centroResult {
  width: 40vw;
  height: 340px;
  margin-top: -4%;
  #result {
    text-align: center;
  }
  #nota {
    font-weight: bold;
    color: $main-color;
  }
}

.instrucoes {
  margin: 0px;
  font-size: $text-font-size;
  text-align: center;
  h2 {
    text-align: center;
    color: $second-color;
  }
  p {
    color: $p-color;
  }
}
