@import 'assets/_variables.scss';
@import 'assets/_mixins.scss';

html{
  min-height: 100%;
}

%centerStuff {
  align-items: center;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
}

%conteudoMobile {
  @extend %centerStuff;
  display: flex;
  width: 100%;
  background-color: $second-color;
  box-shadow: 0 0.5em 0.9em $shadow-color;
}

.btn-custom {
  height: 40px;
  width: 100%;
  font-weight: 700 !important;
  border: 0px !important;
  border-radius: 0px !important;
  background-color: $second-color;

  &:hover {
    color: $second-color !important;
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background-color: $second-color;
  box-shadow: 0 0 0.3em $shadow-color;

  #github,
  #twitter,
  #mail {
    height: 85%;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
  }

  #footerTexto {
    text-align: center;
    margin-right: 10%;
  }
}

.center-box{
  @extend %conteudoMobile;
  height: 50vh;
  margin-top: 5%;
}

.center-box--horizontal{
  height: 50vh;
  margin-top: 5%;

  #result {
    text-align: center;
  }
  #nota {
    font-weight: bold;
    color: $main-color;
  }
}

.center-box--vertical{
  height: auto;
  margin: 5% 0 20% 0;
  padding: 5% 0px;
}

