@import "assets/_variables.scss";

$horizontal-box-height: 50vh;

html {
  max-width: 100%;
  max-height: none !important;
}

footer {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 5vh;
  background-color: $white;
  box-shadow: 0 0 0.3em $shadow-color;

  .footer-content {
    height: 80%;

    .social-media-strip {
      width: 40%;
      padding: 0 1.5% 1.5% 1.5%;

      .social-icon{
        height: 100%;
      }
      img{
        max-width: 100% !important;
      }
    }
  }
  .footer-text {
    width: 20%;
    text-align: left;
  }
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: $white;
  border: none;
  border-radius: 0;

  box-shadow: 0 0.5em 0.9em $shadow-color;

  text-align: justify;
  text-align-last: center;

  .center-box__rotated-background{
    display: none;
  }

  .center-box__form {
    width: 85%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    fieldset {
      height: 100%;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    label {
      text-align: center;
    }
    select {
      width: 100%;
    }
  }

  .center-box__submit-btn {
    height: 40px;
    width: 80%;
    
    position: initial;

    color: $white;
    font-weight: 600 !important;
    border-radius: 0;
    border: 2px solid $main-orange;
    background-color: $mid-orange;

    &.pressed {
      background-color: $mid-dark-orange;
    }
  }
}

.center-box--horizontal {
  height: $horizontal-box-height;
  padding: $horizontal-box-height/7 10px !important;

  .form-group{
    margin-bottom: 1rem;

    label{
      font-size: 100%;
    }
    select {
      margin-top: 5px;
      height: $horizontal-box-height/10;
      font-size: 100%;
    }
  }

  .center-box__submit-btn{
    font-size: 100%;
  }

  #nota {
    font-weight: bold;
    color: $main-color;
  }
}

.center-box--vertical {
  height: auto;
  margin-bottom: 20%;
  padding: 8% 0 15% 0;

  .form-group {
    margin: 0;
    width: 100% !important;
    max-width: none;
    padding: 0;
    margin-bottom: 30px;
  }

  .center-box__submit-btn {
    justify-self: flex-end;
    font-size: 100%;
  }
}
