$text-font-size: 13pt;
$g-label-font-size: 30px;
$m-label-font-size: 16pt;
$s-label-font-size: 12pt;
$xs-label-font-size: 10pt;
$btn-font-size: 14pt;

$desktop-btn-font-size: 16pt;

$desktop-background: 'url("/images/Rodape_as_bg_water.png")';

$bright-orange: #ff701a;
$dark-orange: #cc4e00;
$white: #fff;
$main-color: $bright-orange;
$second-color: $white;
$shadow-color: $dark-orange;
$p-color: black;

$small-mobile: 320px;
$mobile: 600px;
$tablet: 768px;
$desktop: 980px;
$wide: 1300px;

$screen-extra-small: "only screen and (min-width: #{$small-mobile})";
$screen-small: "only screen and (min-width: #{$mobile})";
$screen-medium: "only screen and (min-width: #{$tablet})";
$screen-large: "only screen and (min-width: #{$desktop})";
$screen-wide: "only screen and (min-width: #{$wide})";

@mixin childSizeDivide($parent_size, $number, $property) {
  #{$property}: ($parent_size / $number);
}
@mixin childSizeMultiply($parent_size, $number, $property) {
  #{$property}: ($parent_size * $number);
}
@mixin childSizeSubtract($parent_size, $number, $property) {
  #{$property}: ($parent_size - $number);
}
@mixin childSizeSum($parent_size, $number, $property) {
  #{$property}: ($parent_size + $number);
}

%centerStuff {
  align-items: center;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
}

%conteudoMobile {
  @extend %centerStuff;
  margin-top: 10%;
  display: flex;
  width: 100vw;
  margin: 0 auto;
  background-color: $second-color;
  box-shadow: 0 0.5em 0.9em $shadow-color;
}

.placeholder,
.instrucoes {
  display: none;
}

.btn-custom {
  height: 40px;
  max-width: 200%;
  font-size: $btn-font-size !important;
  font-weight: 700 !important;
  border: 0px !important;
  border-radius: 0px !important;
  background-color: $second-color;

  &:hover {
    background-color: $main-color !important;
    color: $second-color !important;
  }
}

html {
  height: 100vh;
}

body {
  background-image: url("/images/Rodape_as_bg_water.png");
  background-repeat: no-repeat;
  background-size: auto 98%;
  height: 100%;
  max-height: 200%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

.conteudo {
  width: 100vw;
  justify-items: center;
  margin-top: 5vh;
}

#titulo {
  width: 100vw;
  height: 10vh;
  padding-top: 2%;
  background-color: $main-color;
  box-shadow: 0 0.5em 0.9em $shadow-color;
  text-align: center;
  color: $second-color;

  h1 {
    margin: 0px;
    font-weight: 600;
  }
}

#footer {
  background-color: $second-color;
  box-shadow: 0 0 0.3em $shadow-color;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding-top: 1.5%;
  margin-bottom: -35px;
  height: 35px;

  #github,
  #twitter,
  #mail {
    height: 85%;
    width: auto;
    float: left;
    padding-right: 9px;
    padding-left: 9px;
  }

  #footerTexto {
    float: right;
    margin-right: 10%;
  }
}

#centroIndex {
  @extend %conteudoMobile;
  height: 50vh;
  margin-top: 5%;

  .groupIndex {
    line-height: initial;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 16%;
  }

  .labelsIndex {
    display: none;
  }

  .select-custom {
    height: 7vh;
    width: 70vw;
    font-size: $s-label-font-size;
    text-align-last: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: $second-color;
  }

  .btn-index {
    width: 100vw;
    margin-left: -1.5%;
  }
}

#centroCalc {
  @extend %conteudoMobile;
  margin-top: -2%;
  text-align: center;
  height: auto;

  #formNotas {
    margin-top: 10%;
    text-align: center;
  }

  .pieces {
    margin-bottom: 10%;
    width: 70%;
    display: inline-block;
    text-align: center;
  }

  .labelsCalc {
    display: block;
    font-size: $s-label-font-size;
  }

  .labelsCalcBig {
    display: inline-block;
    width: 100% - 5;
    font-size: $s-label-font-size;
  }

  .inputs {
    height: 7vh;
    font-size: $s-label-font-size;
  }

  .btn-calc {
    width: 100vw;
    margin-top: -3%;
    margin-bottom: 10%;
  }
}

#centroResult {
  @extend %conteudoMobile;
  height: 40vh;
  margin-top: 5%;
  #result {
    text-align: center;
  }
  #nota {
    font-weight: bold;
    color: $main-color;
  }
}

