//TODO: Ajustar o estilo da tela wide

$small-mobile: 320px;
$mobile: 600px;
$tablet: 768px;
$desktop: 980px;
$wide: 1300px;

$screen-extra-small: "only screen and (min-width: #{$small-mobile})";
$screen-small: "only screen and (min-width: #{$mobile})";
$screen-medium: "only screen and (min-width: #{$tablet})";
$screen-large: "only screen and (min-width: #{$desktop})";
$screen-wide: "only screen and (min-width: #{$wide})";

$screen-ipadpro: "only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)";


@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/helvetica-neue.ttf");
}

body{
  font-family: 'Helvetica Neue', monospace !important;
}


/*iPad Pro*/
@media #{$screen-ipadpro} {
  @import "_style-ipadpro.scss";
}

@media #{$screen-extra-small} {
  @import "_style-mobile.scss";
}

@media #{$screen-large} {
  @import "_style-desktop.scss";
}

@media #{$screen-wide} {
  @import "_style-desktop-large.scss";
}
